<a href="https://colab.research.google.com/github/gui98araujo/primeirorepositorio/blob/main/desafio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.read_csv('imdb_top_1000.csv')
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [2]:
df['IMDB_Rating'].mean()

7.949299999999999

In [3]:
df['Released_Year'].unique()

array(['1994', '1972', '2008', '1974', '1957', '2003', '1993', '2010',
       '1999', '2001', '1966', '2002', '1990', '1980', '1975', '2020',
       '2019', '2014', '1998', '1997', '1995', '1991', '1977', '1962',
       '1954', '1946', '2011', '2006', '2000', '1988', '1985', '1968',
       '1960', '1942', '1936', '1931', '2018', '2017', '2016', '2012',
       '2009', '2007', '1984', '1981', '1979', '1971', '1963', '1964',
       '1950', '1940', '2013', '2005', '2004', '1992', '1987', '1986',
       '1983', '1976', '1973', '1965', '1959', '1958', '1952', '1948',
       '1944', '1941', '1927', '1921', '2015', '1996', '1989', '1978',
       '1961', '1955', '1953', '1925', '1924', '1982', '1967', '1951',
       '1949', '1939', '1937', '1934', '1928', '1926', '1920', '1970',
       '1969', '1956', '1947', '1945', '1930', '1938', '1935', '1933',
       '1932', '1922', '1943', 'PG'], dtype=object)

In [4]:
df[df['Released_Year']== 'PG'].index

Int64Index([966], dtype='int64')

In [5]:
df['Released_Year'] = df['Released_Year'].replace(['PG'],'1995')

In [6]:
df[df['Released_Year']=='1995']

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
27,https://m.media-amazon.com/images/M/MV5BOTUwOD...,Se7en,1995,A,127 min,"Crime, Drama, Mystery",8.6,"Two detectives, a rookie and a veteran, hunt a...",65.0,David Fincher,Morgan Freeman,Brad Pitt,Kevin Spacey,Andrew Kevin Walker,1445096,"100,125,643"
41,https://m.media-amazon.com/images/M/MV5BYTViNj...,The Usual Suspects,1995,A,106 min,"Crime, Mystery, Thriller",8.5,A sole survivor tells of the twisty events lea...,77.0,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin,991208,"23,341,568"
101,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,Toy Story,1995,U,81 min,"Animation, Adventure, Comedy",8.3,A cowboy doll is profoundly threatened and jea...,95.0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Jim Varney,887429,"191,796,233"
102,https://m.media-amazon.com/images/M/MV5BMzkzMm...,Braveheart,1995,A,178 min,"Biography, Drama, History",8.3,Scottish warrior William Wallace leads his cou...,68.0,Mel Gibson,Mel Gibson,Sophie Marceau,Patrick McGoohan,Angus Macfadyen,959181,"75,600,000"
164,https://m.media-amazon.com/images/M/MV5BNGMwNz...,Heat,1995,A,170 min,"Crime, Drama, Thriller",8.2,A group of professional bank robbers start to ...,76.0,Michael Mann,Al Pacino,Robert De Niro,Val Kilmer,Jon Voight,577113,"67,436,818"
165,https://m.media-amazon.com/images/M/MV5BMTcxOW...,Casino,1995,A,178 min,"Crime, Drama",8.2,"A tale of greed, deception, money, power, and ...",73.0,Martin Scorsese,Robert De Niro,Sharon Stone,Joe Pesci,James Woods,466276,"42,438,300"
256,https://m.media-amazon.com/images/M/MV5BNzI4YT...,Underground,1995,NaN,170 min,"Comedy, Drama, War",8.1,A group of Serbian socialists prepares for the...,NaN,Emir Kusturica,Predrag 'Miki' Manojlovic,Lazar Ristovski,Mirjana Jokovic,Slavko Stimac,55220,"171,082"
257,https://m.media-amazon.com/images/M/MV5BNDNiOT...,La haine,1995,UA,98 min,"Crime, Drama",8.1,24 hours in the lives of three young men in th...,NaN,Mathieu Kassovitz,Vincent Cassel,Hubert Koundé,Saïd Taghmaoui,Abdel Ahmed Ghili,150345,"309,811"
258,https://m.media-amazon.com/images/M/MV5BYmNjYz...,Dilwale Dulhania Le Jayenge,1995,U,189 min,"Drama, Romance",8.1,"When Raj meets Simran in Europe, it isn't love...",NaN,Aditya Chopra,Shah Rukh Khan,Kajol,Amrish Puri,Farida Jalal,63516,NaN
259,https://m.media-amazon.com/images/M/MV5BZDdiZT...,Before Sunrise,1995,R,101 min,"Drama, Romance",8.1,A young man and woman meet on a train in Europ...,77.0,Richard Linklater,Ethan Hawke,Julie Delpy,Andrea Eckert,Hanno Pöschl,272291,"5,535,405"
393,https://m.media-amazon.com/images/M/MV5BN2Y2OW...,Twelve Monkeys,1995,A,129 min,"Mystery, Sci-Fi, Thriller",8.0,"In a future world devastated by disease, a con...",74.0,Terry Gilliam,Bruce Willis,Madeleine Stowe,Brad Pitt,Joseph Melito,578443,"57,141,459"
394,https://m.media-amazon.com/images/M/MV5BYWRiYj...,Kôkaku Kidôtai,1995,UA,83 min,"Animation, Action, Crime",8.0,A cyborg policewoman and her partner hunt a my...,76.0,Mamoru Oshii,Atsuko Tanaka,Iemasa Kayumi,Akio Ôtsuka,Kôichi Yamadera,129231,"515,905"
518,https://m.media-amazon.com/images/M/MV5BZDg0MW...,Mimi wo sumaseba,1995,U,111 min,"Animation, Drama, Family",7.9,A love story between a girl who loves reading ...,75.0,Yoshifumi Kondô,Yoko Honna,Issey Takahashi,Takashi Tachibana,Shigeru Muroi,51943,NaN
813,https://m.media-amazon.com/images/M/MV5BZDQzMG...,A Little Princess,1995,U,97 min,"Drama, Family, Fantasy",7.7,A young girl is relegated to servitude at a bo...,83.0,Alfonso Cuarón,Liesel Matthews,Eleanor Bron,Liam Cunningham,Rusty Schwimmer,32236,"10,019,307"
814,https://m.media-amazon.com/images/M/MV5BZjM4NW...,Do lok tin si,1995,UA,99 min,"Comedy, Crime, Drama",7.7,This Hong Kong-set crime drama follows the liv...,71.0,Kar-Wai Wong,Leon Lai,Michelle Reis,Takeshi Kaneshiro,Charlie Yeung,26429,NaN
962,https://m.media-amazon.com/images/M/MV5BNzk1Mj...,Sense and Sensibility,1995,U,136 min,"Drama, Romance",7.6,"Rich Mr. Dashwood dies, leaving his second wif...",84.0,Ang Lee,Emma Thompson,Kate Winslet,James Fleet,Tom Wilkinson,102598,"43,182,776"
963,https://m.media-amazon.com/images/M/MV5BZjI0ZW...,Die Hard: With a Vengeance,1995,A,128 min,"Action, Adventure, Thriller",7.6,John McClane and a Harlem store owner are targ...,58.0,John McTiernan,Bruce Willis,Jeremy Irons,Samuel L. Jackson,Graham Greene,364420,"100,012,499"
964,https://m.media-amazon.com/images/M/MV5BYTJlZm...,Dead Man,1995,R,121 min,"Adventure, Drama, Fantasy",7.6,"On the run after murdering a man, accountant W...",62.0,Jim Jarmusch,Johnny Depp,Gary Farmer,Crispin Glover,Lance Henriksen,90442,"1,037,847"
965,https://m.media-amazon.com/images/M/MV5BNmRiZD...,The Bridges of Madison County,1995,A,135 min,"Drama, Romance",7.6,Photographer Robert Kincaid wanders into the l...,69.0,Clint Eastwood,Clint Eastwood,Meryl Streep,Annie Corley,Victor Slezak,73172,"71,516,617"
966,https://m.media-amazon.com/images/M/MV5BNjEzYj...,Apollo 13,1995,U,140 min,"Adventure, Drama, History",7.6,NASA must devise a strategy to return Apollo 1...,77.0,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,269197,"173,837,933"

In [7]:
df['Released_Year'].values.astype(int)

array([1994, 1972, 2008, 1974, 1957, 2003, 1994, 1993, 2010, 1999, 2001,
       1994, 1966, 2002, 1999, 1990, 1980, 1975, 2020, 2019, 2020, 2014,
       2002, 2001, 1998, 1999, 1997, 1995, 1991, 1977, 1962, 1954, 1946,
       2019, 2014, 2011, 2006, 2006, 2002, 2000, 1998, 1995, 1994, 1994,
       1991, 1988, 1988, 1985, 1968, 1960, 1942, 1936, 1931, 2018, 2017,
       2017, 2016, 2016, 2018, 2019, 2018, 2017, 2012, 2012, 2009, 2007,
       2008, 2006, 2003, 2000, 1997, 1984, 1981, 1980, 1979, 1979, 1971,
       1963, 1964, 1957, 1957, 1954, 1950, 1940, 2019, 2018, 2018, 2013,
       2012, 2011, 2010, 2019, 2005, 2009, 2004, 2001, 2000, 2000, 1999,
       1997, 1997, 1995, 1995, 1992, 1987, 1985, 1986, 1984, 1983, 1983,
       1981, 1976, 1973, 1971, 1968, 1965, 1962, 1960, 1959, 1958, 1952,
       1952, 1948, 1944, 1941, 1931, 1927, 1921, 2019, 2018, 2018, 2018,
       2017, 2015, 2017, 2019, 2015, 2013, 2013, 2013, 2012, 2010, 2012,
       2009, 2011, 2010, 2009, 2013, 2007, 2007, 2006, 2010, 2005, 2006,
       2005, 2005, 2004, 2004, 2004, 2001, 2000, 1998, 1997, 1996, 1995,
       1995, 1994, 1992, 1989, 1988, 1988, 1988, 1985, 1980, 1979, 1978,
       1976, 1975, 1975, 1963, 1962, 1961, 1961, 1959, 1957, 1957, 1955,
       1954, 1953, 1950, 1950, 1948, 1942, 1925, 1924, 2019, 2016, 2016,
       2016, 2016, 2014, 2014, 2017, 2015, 2014, 2020, 2014, 2014, 2012,
       2014, 2014, 2012, 2016, 2015, 2012, 2013, 2013, 2019, 2015, 2014,
       2012, 2011, 2013, 2015, 2008, 2008, 2011, 2008, 2009, 2009, 2010,
       2007, 2007, 2006, 2004, 2004, 2004, 2004, 2003, 2003, 2001, 2003,
       2003, 2002, 2000, 2001, 1997, 2001, 1999, 1998, 1998, 1998, 1998,
       2000, 1996, 1996, 1995, 1995, 1995, 1995, 1994, 1994, 1993, 1993,
       1993, 1991, 1989, 1986, 1986, 1984, 1984, 1982, 1982, 1982, 1982,
       1982, 1980, 1979, 1978, 1976, 1976, 1975, 1975, 1974, 1973, 1972,
       1972, 1967, 1967, 1966, 1966, 1966, 1962, 1962, 1962, 1962, 1962,
       1960, 1960, 1959, 1959, 1958, 1957, 1957, 1957, 1954, 1953, 1951,
       1949, 1949, 1948, 1940, 1940, 1939, 1939, 1937, 1934, 1928, 1928,
       1927, 1926, 1920, 2018, 2019, 2016, 2015, 2015, 2016, 2016, 2015,
       2016, 2015, 2013, 2017, 2019, 2013, 2013, 2014, 2014, 2014, 2017,
       2013, 2018, 2015, 2012, 2010, 2010, 2011, 2016, 2009, 2009, 2008,
       2010, 2009, 2008, 2010, 2007, 2012, 2007, 2013, 2006, 2006, 2007,
       2004, 2005, 2007, 2004, 2007, 2006, 2004, 2003, 2003, 2014, 2005,
       2003, 2002, 2003, 2003, 2004, 2001, 2003, 2001, 2001, 1999, 2000,
       1999, 1997, 1998, 1998, 1999, 1997, 1996, 1996, 1995, 1995, 1993,
       1993, 1993, 1992, 1992, 1991, 1991, 1990, 1989, 1988, 1988, 1987,
       1987, 1987, 1986, 1984, 1982, 1980, 1979, 1977, 1975, 1975, 1974,
       1973, 1973, 1972, 1971, 1971, 1970, 1969, 1968, 1968, 1967, 1966,
       1965, 1965, 1964, 1963, 1962, 1961, 1960, 1959, 1959, 1958, 1958,
       1957, 1956, 1955, 1954, 1955, 1953, 1953, 1951, 1950, 1949, 1948,
       1947, 1945, 1944, 1946, 1942, 1941, 1940, 1939, 1939, 1934, 1930,
       1925, 2019, 2020, 2018, 2019, 2017, 2016, 2018, 2016, 2016, 2016,
       2017, 2014, 2019, 2016, 2015, 2013, 2014, 2011, 2011, 2014, 2012,
       2019, 2009, 2009, 2008, 2009, 2008, 2007, 2014, 2007, 2009, 2008,
       2007, 2006, 2006, 2012, 2009, 2005, 2004, 2008, 2004, 2004, 2003,
       2004, 2002, 2002, 2001, 2001, 2002, 2000, 2006, 2000, 2001, 1999,
       1997, 1995, 1994, 1993, 1993, 1993, 1993, 1990, 1989, 1989, 1987,
       1986, 1985, 1984, 1983, 1980, 1979, 1979, 1978, 1976, 1973, 1973,
       1972, 1972, 1971, 1970, 1969, 1968, 1968, 1967, 1963, 1962, 1960,
       1960, 1959, 1956, 1956, 1955, 1952, 1951, 1950, 1947, 1946, 1946,
       1945, 1940, 1940, 1938, 1935, 1933, 1932, 1922, 2019, 2018, 2019,
       2016, 2017, 2016, 2016, 2017, 2016, 2016, 2016, 2016, 2015, 2016,
       2016, 2015, 2019, 2017, 2014, 2013, 2013, 2013, 2012, 2014, 2013,
       2012, 2013, 2019, 2013, 2012, 2014, 2015, 2010, 2010, 2011, 2013,
       2010, 2015, 2009, 2008, 2013, 2009, 2009, 2020, 2020, 2010, 2008,
       2008, 2007, 2012, 2007, 2007, 2011, 2007, 2009, 2009, 2006, 2006,
       2007, 2008, 2004, 2005, 2005, 2005, 2003, 2005, 2005, 2003, 2004,
       2004, 2002, 2003, 2000, 2002, 2001, 2000, 2000, 1999, 2000, 1999,
       1999, 1999, 2001, 1997, 1997, 1997, 1997, 1996, 1994, 1993, 1993,
       1993, 1993, 1993, 1993, 1993, 1993, 1992, 1991, 1991, 1991, 1990,
       1990, 1989, 1989, 1989, 1989, 1988, 1987, 1987, 1986, 1986, 1985,
       1985, 1985, 1984, 1984, 1983, 1982, 1982, 1979, 1978, 1976, 1975,
       1974, 1973, 1973, 1973, 1972, 1971, 1969, 1967, 1967, 1967, 1964,
       1964, 1962, 1962, 1961, 1960, 1948, 1948, 1944, 1943, 1939, 1938,
       1938, 1935, 1933, 1932, 1931, 2018, 2017, 2018, 2017, 2017, 2018,
       2015, 2014, 2014, 2014, 2014, 2014, 2015, 2014, 2013, 2013, 2012,
       2014, 2011, 2013, 2012, 2015, 2011, 2011, 2014, 2013, 2013, 2015,
       2010, 2011, 2009, 2012, 2012, 2012, 2009, 2010, 2008, 2008, 2006,
       2008, 2010, 2006, 2006, 2006, 2014, 2006, 2006, 2007, 2006, 2005,
       2007, 2010, 2006, 2005, 2007, 2004, 2004, 2004, 2004, 2004, 2003,
       2005, 2004, 2009, 2003, 2002, 2003, 2002, 2001, 2002, 2001, 2002,
       2001, 2000, 2001, 2001, 2000, 2000, 2002, 1999, 1999, 1998, 2001,
       1998, 1997, 1999, 1997, 1997, 1998, 1997, 1996, 1996, 1996, 1995,
       1995, 1994, 1994, 1993, 1993, 1992, 1992, 1992, 1992, 1992, 1992,
       1991, 1991, 1990, 1988, 1988, 1987, 1987, 1987, 1986, 1986, 1985,
       1985, 1983, 1982, 1982, 1982, 1980, 1980, 1979, 1978, 1976, 1975,
       1974, 1974, 1973, 1973, 1972, 1971, 1971, 1968, 1968, 1967, 1967,
       1966, 1965, 1964, 1964, 1963, 1962, 1960, 1960, 1960, 1956, 1955,
       1955, 1954, 1952, 1951, 1951, 1946, 1940, 1933, 2019, 2018, 2019,
       2017, 2017, 2019, 2017, 2019, 2015, 2015, 2017, 2017, 2017, 2015,
       2018, 2016, 2015, 2015, 2014, 2016, 2013, 2014, 2012, 2011, 2012,
       2010, 2018, 2010, 2010, 2010, 2011, 2010, 2009, 2011, 2011, 2009,
       2008, 2009, 2009, 2007, 2008, 2007, 2007, 2009, 2006, 2007, 2007,
       2006, 2006, 2004, 2009, 2006, 2005, 2009, 2005, 2004, 2008, 2004,
       2003, 2004, 2003, 2003, 2002, 2004, 2002, 2004, 2002, 2000, 2001,
       2001, 2001, 2001, 2001, 2001, 2002, 1999, 2000, 1998, 1998, 1998,
       1998, 1997, 1998, 1996, 1997, 1995, 1995, 1995, 1995, 1995, 1994,
       1993, 1993, 1992, 1991, 1991, 1990, 1990, 1989, 1989, 1988, 1987,
       1987, 1984, 1981, 1981, 1979, 1979, 1979, 1978, 1978, 1977, 1973,
       1971, 1970, 1967, 1966, 1964, 1961, 1956, 1953, 1944, 1935])

In [9]:
df['Released_Year']=df['Released_Year'].values.astype(int)

In [10]:
df[(df['Released_Year']>= 2005) & (df['Released_Year']<=2010)].index

Int64Index([  2,   8,  36,  37,  64,  65,  66,  67,  90,  92,
            ...
            922, 923, 924, 925, 927, 928, 929, 930, 931, 933],
           dtype='int64', length=142)

In [11]:
len(df[(df['Released_Year']>= 2005) & (df['Released_Year']<=2010)].index)

142

In [12]:
sorted_df=df.sort_values(by=['Gross'], ascending=False)
sorted_df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
738,https://m.media-amazon.com/images/M/MV5BOTc3Nz...,Rockstar,2011,UA,159 min,"Drama, Music, Musical",7.7,Janardhan Jakhar chases his dreams of becoming...,NaN,Imtiaz Ali,Ranbir Kapoor,Nargis Fakhri,Shammi Kapoor,Kumud Mishra,39501,"985,912"
682,https://m.media-amazon.com/images/M/MV5BZDRkOW...,The Color Purple,1985,U,154 min,Drama,7.8,A black Southern woman struggles to find her i...,78.0,Steven Spielberg,Danny Glover,Whoopi Goldberg,Oprah Winfrey,Margaret Avery,78321,"98,467,863"
194,https://m.media-amazon.com/images/M/MV5BZWFhOG...,Sherlock Jr.,1924,Passed,45 min,"Action, Comedy, Romance",8.2,"A film projectionist longs to be a detective, ...",NaN,Buster Keaton,Buster Keaton,Kathryn McGuire,Joe Keaton,Erwin Connelly,41985,"977,375"
748,https://m.media-amazon.com/images/M/MV5BOGUyZD...,The Social Network,2010,UA,120 min,"Biography, Drama",7.7,As Harvard student Mark Zuckerberg creates the...,95.0,David Fincher,Jesse Eisenberg,Andrew Garfield,Justin Timberlake,Rooney Mara,624982,"96,962,694"
7,https://m.media-amazon.com/images/M/MV5BNDE4OT...,Schindler's List,1993,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,https://m.media-amazon.com/images/M/MV5BYTE4YW...,Blowup,1966,A,111 min,"Drama, Mystery, Thriller",7.6,A fashion photographer unknowingly captures a ...,82.0,Michelangelo Antonioni,David Hemmings,Vanessa Redgrave,Sarah Miles,John Castle,56513,NaN
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [13]:
df.Gross.fillna(0,inplace=True)

In [14]:
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,0
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,0
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,0
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,0

In [15]:
def formata_numeros(num, alphas=(), decimals=None):
    """
    Transforma em inteiro ou real dependendo do formato que o número apresentar.

    1. Parâmetros:
        - num: (str) string numérica a ser transformada
        - alphas: (iter) conjunto de caracteres que devem ser 
        removidos antes do número ser transformado em float.
        - decimal_houses: (int) representa a quantidade de casas decimais que o
        número terá ao ser retornado.
    
    2. Exemplos:
    In [1]: formata_numeros('123,456,789.1011')
    Out[1]: 123456789.1011

    In [2]: formata_numeros('R$ 123.456.789,1011')
    Out[2]: 123456789.1011

    In [3]: formata_numeros('98,99%')
    Out[3]: 0.9899
    >>> 
    """
    import re
    if num:
        num = str(num).strip()
        original = num
        percentage_pattern = re.compile("([0-9])+[,|.]([0-9])+%")
        percentage = bool(percentage_pattern.match(num))
        alphas = set((*alphas, *'%$R°º()'))
        num = ''.join([c for c in num if c not in alphas])
        num = re.split('\,|\.', num)
        try:
            if len(num) > 1: # É FLOAT
                num = float(''.join(num[:-1])+'.'+num[-1])
                if decimals and not percentage:
                    return format(num, f'.{decimals}f')
                elif decimals and percentage:
                    return format(num/100, f'.{decimals}f')
                elif not decimals and not percentage:
                    return num
                elif not decimals and percentage:
                    return num/100
            else: # É INTEIRO
                if percentage:
                    return int(''.join(num))/100
                else:
                    return int(''.join(num))
        except ValueError:
            num = ''.join(num[:-1]) + '.' + num[-1]
            raise ValueError(
                f"Não foi possível converter o número '{original}' para float")

In [16]:
df['Gross'] = df['Gross'].apply(formata_numeros)*1000

In [ ]:
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,30500000.0
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [17]:
sorted_df=df.sort_values(by=['Gross'], ascending=False)
sorted_df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
477,https://m.media-amazon.com/images/M/MV5BOTAzOD...,Star Wars: Episode VII - The Force Awakens,2015,U,138 min,"Action, Adventure, Sci-Fi",7.9,"As a new threat to the galaxy rises, Rey, a de...",80.0,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,860823,936662225.0
59,https://m.media-amazon.com/images/M/MV5BMTc5MD...,Avengers: Endgame,2019,UA,181 min,"Action, Adventure, Drama",8.4,After the devastating events of Avengers: Infi...,78.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,809955,858373000.0
623,https://m.media-amazon.com/images/M/MV5BMTYwOT...,Avatar,2009,UA,162 min,"Action, Adventure, Fantasy",7.8,A paraplegic Marine dispatched to the moon Pan...,83.0,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Michelle Rodriguez,1118998,760507625.0
60,https://m.media-amazon.com/images/M/MV5BMjMxNj...,Avengers: Infinity War,2018,UA,149 min,"Action, Adventure, Sci-Fi",8.4,The Avengers and their allies must be willing ...,68.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,834477,678815482.0
652,https://m.media-amazon.com/images/M/MV5BMDdmZG...,Titanic,1997,UA,194 min,"Drama, Romance",7.8,A seventeen-year-old aristocrat falls in love ...,75.0,James Cameron,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,1046089,659325379.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,https://m.media-amazon.com/images/M/MV5BYTE4YW...,Blowup,1966,A,111 min,"Drama, Mystery, Thriller",7.6,A fashion photographer unknowingly captures a ...,82.0,Michelangelo Antonioni,David Hemmings,Vanessa Redgrave,Sarah Miles,John Castle,56513,NaN
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [18]:
sorted_df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
477,https://m.media-amazon.com/images/M/MV5BOTAzOD...,Star Wars: Episode VII - The Force Awakens,2015,U,138 min,"Action, Adventure, Sci-Fi",7.9,"As a new threat to the galaxy rises, Rey, a de...",80.0,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,860823,936662225.0
59,https://m.media-amazon.com/images/M/MV5BMTc5MD...,Avengers: Endgame,2019,UA,181 min,"Action, Adventure, Drama",8.4,After the devastating events of Avengers: Infi...,78.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,809955,858373000.0
623,https://m.media-amazon.com/images/M/MV5BMTYwOT...,Avatar,2009,UA,162 min,"Action, Adventure, Fantasy",7.8,A paraplegic Marine dispatched to the moon Pan...,83.0,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Michelle Rodriguez,1118998,760507625.0
60,https://m.media-amazon.com/images/M/MV5BMjMxNj...,Avengers: Infinity War,2018,UA,149 min,"Action, Adventure, Sci-Fi",8.4,The Avengers and their allies must be willing ...,68.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,834477,678815482.0
652,https://m.media-amazon.com/images/M/MV5BMDdmZG...,Titanic,1997,UA,194 min,"Drama, Romance",7.8,A seventeen-year-old aristocrat falls in love ...,75.0,James Cameron,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,1046089,659325379.0

In [19]:
df_novo = df.groupby('Director')['Gross'].sum()
df2=df['Director'].value_counts()
df2

Alfred Hitchcock    14
Steven Spielberg    13
Hayao Miyazaki      11
Martin Scorsese     10
Akira Kurosawa      10
                    ..
Neill Blomkamp       1
Tomas Alfredson      1
Duncan Jones         1
Jacques Audiard      1
George Stevens       1
Name: Director, Length: 548, dtype: int64

In [20]:
df_novo

Director
Aamir Khan               1223869.0
Aaron Sorkin                   0.0
Abdellatif Kechiche      2199675.0
Abhishek Chaubey               0.0
Abhishek Kapoor          1122527.0
                          ...
Zack Snyder            318124738.0
Zaza Urushadze            144501.0
Zoya Akhtar              8675019.0
Çagan Irmak                    0.0
Ömer Faruk Sorak               0.0
Name: Gross, Length: 548, dtype: float64

In [21]:
df2.sort_values(ascending = False)

Alfred Hitchcock    14
Steven Spielberg    13
Hayao Miyazaki      11
Martin Scorsese     10
Akira Kurosawa      10
                    ..
Jonathan Lynn        1
Marc Caro            1
David Zucker         1
Mark Rydell          1
George Stevens       1
Name: Director, Length: 548, dtype: int64

In [22]:
df2.sort_values(ascending = False).mean()

1.8248175182481752

In [23]:
df2.sort_values(ascending = False).mean()*548

1000.0

In [24]:
df_novo / df2

Aamir Khan               1223869.0
Aaron Sorkin                   0.0
Abdellatif Kechiche      2199675.0
Abhishek Chaubey               0.0
Abhishek Kapoor          1122527.0
                          ...
Zack Snyder            159062369.0
Zaza Urushadze            144501.0
Zoya Akhtar              4337509.5
Çagan Irmak                    0.0
Ömer Faruk Sorak               0.0
Length: 548, dtype: float64

In [25]:
df4=df[df['Director']=='Zack Snyder']
df4['Gross'].sum()/2

159062369.0

In [26]:
media=pd.DataFrame(((df_novo / df2)).sort_values(ascending=False))
media.head(3)

                           0
Anthony Russo   5.512599e+08
Gareth Edwards  5.321773e+08
J.J. Abrams     4.743903e+08